@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.container {
  background-color: #2C2C2C;
  max-width: 1440px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main {
  padding: 60px 60px;
  min-height: 660px;
}
.container .main .title {
  font-family: Racing Sans One;
  font-size: 64px;
}
.container .main .title .title-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .title .title-text .short-line {
  height: 1px;
  width: 50px;
  background-color: #FFFFFF;
  margin: 0 12px;
}
.container .main .title .title-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .title .title-img .long-line {
  height: 1px;
  width: 220px;
  background-color: #FFFFFF;
  margin: 0 24px;
}
.container .main .title .title-img img {
  display: block;
}
.container .main .inputNewList {
  display: flex;
  position: relative;
  width: 820px;
  height: 49px;
  margin: 60px 60px 30px 60px;
}
.container .main .inputNewList .addNewListInput {
  width: 100%;
  padding: 0 120px 0 15px;
  border-radius: 18px;
  font-size: 24px;
}
.container .main .inputNewList .addNewListBtn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 18px;
  font-family: Racing Sans One;
  font-size: 24px;
  background-color: #4F4F4F;
  color: #FFFFFF;
  cursor: pointer;
}
.container .main .tasks {
  margin: 30px 60px;
}
.container .main .tasks .lists li {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #222222;
  margin: 30px 0;
  padding: 0 15px;
  border-radius: 12px;
  height: 38px;
}
.container .main .tasks .lists li p {
  font-size: 20px;
  font-family: Inter;
  padding: 0 10px;
}
.container .main .tasks .lists li .doImg {
  height: 50%;
  cursor: pointer;
}
.container .main .tasks .lists li .deleteImg {
  position: absolute;
  right: -3px;
  top: 0;
  cursor: pointer;
}